<?xml version="1.0"?>
<phpunit backupGlobals="false" 
		backupStaticAttributes="false" 
		bootstrap="bootstrap.php" 
		colors="true" 
		convertErrorsToExceptions="true" 
		convertNoticesToExceptions="true" 
		convertWarningsToExceptions="true" 
		processIsolation="false" 
		stopOnFailure="false" 
		syntaxCheck="true" 
		verbose="true" 
		testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">

	<testsuite name="Respect\Template TestSuite">
		<directory suffix=".php">./library/Respect/Template</directory>
		<directory suffix=".phpt">./library/Respect/Template</directory>
	</testsuite>
	
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../library</directory>
		</whitelist>
	</filter>
	
	<logging>
		<log type="coverage-html" target="/tmp/report" charset="UTF-8"/>
	</logging>
</phpunit>
